github "Moya/Moya" "11.0.2"
github "ReactiveX/RxSwift"
github "realm/realm-cocoa"
github "SnapKit/SnapKit"
github "Nirma/UIFontComplete"
github "atsushi130/SwiftTargetedExtensions"
github "atsushi130/Connectable"
github "atsushi130/CoordinatorKit"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/NSObject-Rx"
